<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<link rel="stylesheet" href="../../node_modules/dd-common-css/dist/dd-common.min.css">
</head>
<body>
    <div class="app" style="padding: 20px;">
        <div style="width: 200px;">
            <dd-select v-model="value" placeholder="请选择房型" @input="handleChange">
                <dd-option v-for="option in options" :value="option.value" :label="option.label">
                </dd-option>
            </dd-select>
        </div>
        <button @click="reset">reset</button>
        <p>当前选中的value<span v-text="value"></span></p>
        <div style="width: 200px; margin-bottom: 20px">
            <dd-select placeholder="请选择车型">
                <dd-option v-for="option in options" :value="option.value" :label="option.label">
                </dd-option>
                <dd-group-option v-for="option in options3" :label="option.label">
                    <dd-option v-for="item in option.options" :value="item.value" :label="item.label">
                        <div style="display: flex;justify-content: space-between;">
                            <span>{{ item.label }}</span>
                            <span>{{ item.value }}</span>
                        </div>
                    </dd-option>
                </dd-group-option>
            </dd-select>
        </div>
        <div style="width: 200px;">
            <dd-select disabled>
                <dd-option v-for="option in options2" :value="option.value" :label="option.label">
                </dd-option>
            </dd-select>
        </div>
        <br>
        <br>
        <div style="width: 200px;">
            <dd-select placeholder="请选择性别">
                <dd-option v-for="option in options2" :value="option.value" :label="option.label">
                </dd-option>
            </dd-select>
        </div>
        <br>
        <br>
        <div style="width: 200px;">
            <dd-select multiple v-model="multipleValue" placeholder="请选择房型" @input="handleChange">
                <dd-option v-for="option in options" :value="option.value" :label="option.label">
                </dd-option>
            </dd-select>
        </div>
        <button @click="clear">清空</button>
        <p>当前选中的value<span v-text="multipleValue"></span></p>
        <h3>单选联动</h3>
        <div style="width: 100px;">
            <dd-select v-model="province">
                <dd-option v-for="option in provinces" :value="option.value" :label="option.label">
                </dd-option>
            </dd-select>
        </div>
        <div style="width: 100px;">
            <dd-select v-model="city">
                <dd-option v-for="option in currentCities" :value="option.value" :label="option.label" :key="option.label+option.value">
                </dd-option>
            </dd-select>
        </div>
        <button @click="henan" class="dd-btn dd-btn-primary">变成河南</button>
        <h3>多选联动</h3>
        <div style="width: 100px;">
            <dd-select v-model="province2">
                <dd-option v-for="option in provinces" :value="option.value" :label="option.label">
                </dd-option>
            </dd-select>
        </div>
        <div style="width: 100px;">
            <dd-select v-model="onCities" multiple>
                <dd-option v-for="option in currentCities2" :value="option.value" :label="option.label" :key="option.label+option.value">
                </dd-option>
            </dd-select>
        </div>
    </div>
<script src="../dist/select.build.js"></script>    
</body>
</html>